/*resCarousel Css*/

.outt {
    display: none;
}

.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 100;
    left: 0;
    width: 50px;
    height: 50px;    
    border-radius: 999px;
    cursor: pointer;
    background:rgba(0, 0, 0, .6);
    text-align: center;
    line-height: 60px;
}
.leftRs .icomoon{
    font-size:20px;
    color:#fff;
}
.leftRs:hover{
    background:#c64e2c;
}
.leftRs img{
    width:20px;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    width: 50px;
    height: 50px;    
    border-radius: 999px;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    background:rgba(0, 0, 0, .6);
}
.rightRs .icomoon{
    font-size:20px;
    color:#fff;
}
.rightRs:hover{
    background:#c64e2c;
}
.rightRs  img{
    width:20px;
}

.resCarousel {
    /*float: left;
    overflow: hidden;*/
    width: 100%;
    position: relative;
}

.resCarousel-inner {
    overflow-x: hidden;
    white-space: nowrap;
    font-size: 0;
    vertical-align: top;
}

.resCarousel-inner .item {
    display: inline-block;
    font-size: 14px;
    white-space: initial;
}


/*banner*/

.banner {
    overflow: hidden !important;
}


/*tile css*/

.resCarousel-inner .item .tile {
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 5px;
}


/*animation*/

.resCarousel[data-animator="lazy"] .item {
    transition: .6s ease all;
}

@media (max-width: 767px) {  
    .resCarousel-inner {
        overflow-x: auto;
    }
}


/*resCarousel Css End*/

.resCarousel-inner .item {
    /*border: 4px solid #eee;*/
    /*vertical-align: top;*/
    text-align: center;
}

.resCarousel-inner .item .tile div,
.banner .item div {
    display: table;
    width: 100%;
    min-height: 250px;
    text-align: center;
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, .1);*/
}

.resCarousel-inner .item h1 {
    display: table-cell;
    vertical-align: middle;
    color: white;
}

.banner .item div {
    background: url('demoImg.jpg') center top no-repeat;
    background-size: cover;
    min-height: 550px;
}

.item .tile div {
    background: url('demoImg.jpg') center center no-repeat;
    background-size: cover;
    height: 200px;
    color: white;
}

.item div h1 {
    background: rgba(0, 0, 0, .4);
}