@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,700");
body {
  background: #000;
  font-weight: 400 !important;
  color: #fff;
  line-height: 24px;
  font-size: 14px;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

ul li {
  list-style: none;
}

a {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

.hometitle .subtitle {
  font-size: 24px;
  font-weight: inherit;
}

.hometitle h2 {
  font-size: 24px;
  font-weight: inherit;
}

.hometitle h2 a {
  color: #c64e2c;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  padding-right: 15px;
  padding-left: 15px;
}

.hometitle h2 a:hover {
  color: #fff;
}

.fixed-theme {
  background: black;
}

header {
  background: rgba(0, 0, 0, 0.8);
  padding-top: 15px;
  padding-bottom: 15px;
}

header a {
  color: #fff;
  font-size: 14px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

header a:hover {
  color: #c64e2c;
}

header a:hover .icomoon {
  color: #c64e2c;
}

header .btn-search {
  margin-right: 10px;
}

header .btn-search .icomoon {
  margin-right: 10px;
}

header .navbar-brand {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header .navbar-brand img {
  width: 180px;
}

header .icomoon {
  font-size: 20px;
  color: #fff;
}

header .icon {
  width: 20px;
}

header .dropdown .icomoon {
  float: left;
  margin-right: 5px;
}

header .dropdown .dropdown-menu {
  background: #000;
  min-width: 250px;
  border-radius: 0;
  margin-top: 23px;
  padding-top: 0;
  padding-bottom: 0;
}

header .dropdown .dropdown-menu .dropdown-item {
  color: #fff;
  padding: 10px 15px !important;
  border-bottom: 1px dashed #888;
  text-transform: uppercase;
}

header .dropdown .dropdown-menu .dropdown-item:hover {
  background: #c64e2c;
}

header .dropdown .icon {
  float: left;
  margin: 2px 10px 0 0;
}

header .search {
  width: 1170px;
  height: 60px;
  background: #000;
  margin: -60px auto 0  -585px;
  text-align: center;
  position: absolute;
  border-bottom: 1px solid #ccc;
  z-index: 999;
  padding-left: 20px;
  left: 50%;
  top: 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

header .search .closeicon {
  width: 15px;
  float: right;
  margin: 20px 25px 0 0;
}

header .search .icomoon {
  font-size: 18px;
  color: #fff;
  margin-top: 20px;
  float: right;
  padding-right: 10px;
}

header .search input[type="text"] {
  width: 85%;
  background: none;
  border: none;
  border-radius: 0;
  height: 50px;
  float: left;
  color: #fff;
  opacity: 1;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

header .search input[type="text"]:focus {
  outline: none;
}

header .searchfull {
  margin-top: 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

header .searchfull input[type="text"] {
  opacity: 1;
  width: 90%;
}

.homecarouse {
  height: 100vh;
}

.homecarouse .carousel-indicators {
  display: none;
}

.homecarouse .carousel-inner {
  height: 100vh;
}

.homecarouse .carousel-inner .carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
}

.homecarouse .carousel-inner .carousel-item .carousel-caption {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, black));
  background-image: linear-gradient(transparent, black 50%);
  left: 0;
  bottom: 0;
  right: 0;
  text-align: left;
}

.homecarouse .carousel-inner .carousel-item .carousel-caption .captionin {
  width: 75%;
  margin: 0 auto;
}

.homecarouse .carousel-inner .carousel-item .carousel-caption .captionin h2 a {
  color: #fff;
}

.homecarouse .carousel-inner .carousel-item .carousel-caption .captionin h5 {
  font-size: 24px;
  font-weight: inherit;
}

.homecarouse .carousel-inner .carousel-item .carousel-caption .captionin .slidertitle a {
  font-size: 34px;
  font-weight: 600;
  color: #fff;
}

.homecarouse .carousel-control-prev {
  width: 50px;
  height: 50px;
  background: #c64e2c;
  top: 45%;
  opacity: 1;
}

.homecarouse .carousel-control-prev:hover {
  background: #fff;
}

.homecarouse .carousel-control-prev:hover .icomoon {
  color: #c64e2c;
}

.homecarouse .carousel-control-prev img {
  width: 25px;
}

.homecarouse .carousel-control-prev .icomoon {
  font-size: 20px;
  color: #fff;
}

.homecarouse .carousel-control-next {
  width: 50px;
  height: 50px;
  background: #c64e2c;
  top: 45%;
  opacity: 1;
}

.homecarouse .carousel-control-next:hover {
  background: #fff;
}

.homecarouse .carousel-control-next:hover .icomoon {
  color: #c64e2c;
}

.homecarouse .carousel-control-next img {
  width: 25px;
}

.homecarouse .carousel-control-next .icomoon {
  font-size: 20px;
  color: #fff;
}

.channels {
  background: #141414;
}

.channels .channelcol img {
  width: 114px;
  height: 114px;
  margin: 0 auto;
  border-radius: 50%;
}

.channels .channelcol article {
  padding-top: 15px;
  padding-bottom: 15px;
}

.channels .channelcol article h5 a {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.channels .channelcol article p {
  color: #c64e2c;
}

.sliderhome .item {
  position: relative;
  padding-right: 0;
  padding-left: 0;
}

.sliderhome .item:before {
  content: '';
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.sliderhome .item:hover:before {
  opacity: 0.8;
  height: 100%;
}

.sliderhome .item:hover article {
  opacity: 1;
  display: block;
}

.sliderhome article {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  top: calc(50% - 20px);
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  opacity: 0;
  display: none;
}

.sliderhome article h4 {
  font-size: 20px;
  color: #c64e2c;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 10px;
}

.sliderhome article h5 {
  font-size: 13px;
}

.sliderhome article h5 a {
  color: #fff;
  font-size: 13px !important;
}

.sliderhome article h5 a:hover {
  text-decoration: underline;
  color: #c64e2c;
}

.videoslist .item {
  position: relative;
  padding-right: 0;
  padding-left: 0;
}

.videoslist .item article {
  background: #1a1a1a;
  padding: 10px;
  margin-top: -5px;
  text-align: left;
}

.videoslist .item article a {
  color: #fff;
  font-size: 13px !important;
}

.videoslist .item article a:hover {
  color: #c64e2c;
}

.diaries .item article h5 a {
  font-size: 17px !important;
}

.resCarousel figure img:hover {
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
}

.memes .sliderhome figure img {
  height: 394px;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
}

footer {
  background: #141414;
  min-height: 100px;
  color: #fff;
}

footer .signcol h5 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

footer .signcol p {
  font-size: 14px -1;
  line-height: 19px;
}

footer .signcol .form-control {
  background: #fff;
  border: none;
  width: 100%;
  font-size: 13px;
  height: 42px;
  padding: 0 10px;
  border-radius: 0;
}

footer .signcol .form-control::-webkit-input-placeholder {
  color: #ccc;
}

footer .signcol .form-control:-ms-input-placeholder {
  color: #ccc;
}

footer .signcol .form-control::-ms-input-placeholder {
  color: #ccc;
}

footer .signcol .form-control::placeholder {
  color: #ccc;
}

footer .signcol input[type="submit"] {
  background: #c64e2c;
  border-radius: 0;
  height: 42px;
  color: #fff !important;
}

footer .nav .nav-item .nav-link {
  color: #fff;
}

footer .nav .nav-item .nav-link:hover {
  color: #c64e2c;
}

footer .copyrights {
  background: #c64e2c;
  padding: 10px 0;
}

footer .copyrights p {
  font-size: 13px;
}

.subpagemain {
  min-height: 600px;
  margin-top: 85px;
}

.subpagemain .subpage-header {
  background: #141414;
  min-height: 50px;
  padding: 20px 0;
}

.subpagemain .subpage-header .pagetitle h1 {
  font-size: 24px;
  font-weight: inherit;
  border-left: 2px solid #c64e2c;
  padding: 0 0 5px 10px;
}

.subpagemain .subpage-header .brcrumb li a {
  color: #fff;
}

.subpagemain .subpage-header .brcrumb li a:after {
  content: '/';
  padding: 0 10px;
}

.subpagemain .subpage-header .brcrumb li:last-child a {
  color: #c64e2c;
}

.subpagemain .subpage-header .brcrumb li:last-child a:after {
  content: '';
  padding-left: 0;
}

.subpagemain .subpagebody {
  padding-top: 15px;
  padding-bottom: 15px;
}

.subpagemain .subpagebody p {
  text-align: justify;
  padding-bottom: 20px;
  line-height: 28px;
}

.subpagemain .subpagebody h2 {
  font-size: 24px;
  font-weight: inherit;
  padding-bottom: 20px;
  letter-spacing: -1px;
}

.subpagemain .subpagebody h2 span {
  color: #c64e2c;
}

.subpagemain .subpagebody .highlate {
  background: #1a1a1a;
  min-height: 50px;
  padding: 30px;
}

.subpagemain .subpagebody .highlate .svghigh {
  width: 60px;
}

.subpagemain .subpagebody .highlate .icomoon {
  font-size: 60px;
  color: #fff;
}

.subpagemain .subpagebody .highlate h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.subpagemain .subpagebody .highlate p {
  color: #c64e2c;
}

.subpagemain .listitem {
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid #404040;
}

.subpagemain .listitem .icomoon {
  font-size: 15px;
  color: #fff;
  margin-right: 7px;
}

.subpagemain .listitem:hover a {
  color: #c64e2c;
}

.subpagemain .listitem:hover .comments-col a {
  color: #fff;
}

.subpagemain .listitem figure a img {
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  width: 100%;
}

.subpagemain .listitem figure a img:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.subpagemain .listitem a {
  font-size: 13px;
  color: #fff;
  line-height: 12px;
}

.subpagemain .pagination {
  border-radius: 0;
}

.subpagemain .pagination .page-link {
  background: none;
  color: #fff;
}

.subpagemain .pagination .page-link:hover {
  background: #c64e2c;
}

.subpagemain .videolist {
  border: none;
  padding: 0;
}

.subpagemain .videolist article {
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}

.subpagemain .videolist .comments-col {
  padding: 10px 0;
}

.subpagemain .videolist .comments-col a {
  margin-right: 20px;
  float: left;
}

.subpagemain .videolist .comments-col a:last-child {
  float: right;
}

.subpagemain .videolist .comments-col .svg {
  width: 15px;
  float: left;
  margin-right: 5px;
}

.subpagemain .webserieslist {
  padding: 0;
  border: none;
}

.subpagemain .webserieslist:hover a {
  color: #fff;
}

.subpagemain .webserieslist article {
  padding: 10px 0;
}

.subpagemain .webserieslist article .webanchor {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.subpagemain .webserieslist article .features {
  padding: 10px 0;
  font-size: 13px;
}

.subpagemain .webserieslist article .features a {
  color: #c64e2c;
}

.subpagemain .addcol {
  background: #1a1a1a;
  width: 100%;
  height: 120px;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.subpagemain .addcol p {
  font-size: 13px;
  text-align: inherit;
  line-height: 19px;
}

.subpagemain .addcol .h5 {
  font-size: 18px;
  font-weight: 500;
  font-weight: 300;
  padding-bottom: 6px;
}

.subpagemain .addcol a {
  color: #c64e2c;
}

.subpagemain .addcol a:hover {
  color: #fff;
}

.subpagemain .tablecontact tr td {
  padding: 10px;
  vertical-align: middle;
}

.subpagemain .tablecontact tr td a {
  color: #fff;
}

.subpagemain .tablecontact tr td a .icomoon {
  font-size: 20px;
}

.subpagemain .tablecontact figure {
  background: #1a1a1a;
  width: 50px;
  height: 50px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
}

.subpagemain .tablecontact .svg {
  width: 25px;
}

.subpagemain form label {
  font-size: 13px;
  padding-bottom: 5px;
}

.subpagemain form .form-control {
  background: #1a1a1a;
  height: 48px;
  border: none;
  border-radius: 0;
  color: #888;
  font-size: 13px;
}

.subpagemain form .form-control:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.subpagemain form .btn {
  background: #c64e2c;
  border-radius: 0;
  color: #fff;
  padding-right: 15px;
  padding-left: 15px;
}

.subpagemain .themecolor {
  color: #c64e2c;
}

.subpagemain .themecolor:hover {
  color: #fff;
}

.subpagemain .articledetail .dtnote span:after {
  content: '|';
  color: #c64e2c;
  padding: 0 15px;
}

.subpagemain .articledetail .dtnote span:last-child:after {
  padding: 0;
  content: " ";
}

.subpagemain .articledetail .detailsocial .nav-item {
  margin-left: 5px;
}

.seriesrow {
  border-bottom: 1px solid #4d4d4d;
}

.seriesrow .seriesfig {
  position: relative;
}

.seriesrow .seriesfig .time {
  background: #000;
  padding: 5px;
  color: #fff;
  bottom: 0;
  right: 0;
  font-size: 12px;
}

.seriesrow .descseries h5 {
  font-size: 18px;
  font-weight: 500;
  font-weight: 600;
}

.seriesrow .descseries h5 a {
  color: #fff;
}

.seriesrow .descseries p {
  text-align: justify;
  padding-top: 10px;
}

.seriesrow .comtable td {
  padding: 5px;
  vertical-align: top;
}

.seriesrow .comtable .svg {
  width: 22px;
}

.serieslist .svg {
  width: 85px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
}

.pagecolumn {
  position: relative;
}

.pagecolumn:hover article {
  opacity: 1;
}

.pagecolumn figure img {
  min-height: 360px;
}

.pagecolumn article {
  background: #1a1a1a;
  padding: 10px;
  margin-top: -5px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.pagecolumn article .articlein {
  padding-top: 30%;
}

.pagecolumn article ul li {
  display: inline;
}

.pagecolumn article a {
  color: #fff;
  font-size: 13px !important;
}

.pagecolumn article a:hover {
  color: #c64e2c;
}

.pagecolumn article .link {
  border: 1px solid #333;
  margin-bottom: 20px;
  padding: 10px 25px;
}

.videodialog {
  max-width: 600px;
}

.videodialog img {
  width: 100% !important;
}

.videodialog .embed-responsive-item body {
  text-align: center;
}

.videodialog .embed-responsive-item body img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */