@import 'mixins';
@import 'variable';

//google font 
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700');

//general styles for appending all pages

body{
    background:$darkcolor;
    @include sitefont;
    height:100vh;
    font-family: 'Poppins', sans-serif;
    font-size:$fsize;
}

ul{
    li{
        list-style: none;
    }
}

//coomon styles 
a{
    @include transition;
    &:hover{
        text-decoration: none;
        color:$secondarycolor;
    }
}

.hometitle{
    .subtitle{
        @include subtitle;               
    }
    h2{
        @include subtitle;

        a{        
            @include homelink;
            font-size:$fsize;
            @include px15;

            &:hover{
                color:$secondarycolor;
            }
        }
    }
}
.fixed-theme{
    background:rgba(0,0,0,1);
}

//header styles starts
header{
    background:rgba(0,0,0,0.8); 
    @include py15;

    a{
        color:$secondarycolor;
        font-size:$fsize;
        padding-top:0!important;
        padding-bottom:0!important;

        &:hover{
            color:$themecolor;

            .icomoon{
                color:$themecolor;
            }
        }
    }
    .btn-search{
        margin-right:10px;

        .icomoon{
            margin-right:10px;
        }
    }
   
    .navbar-brand{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        img{
            width:180px;
        }
    }

    .icomoon{
        font-size:20px;
        color:$secondarycolor;
    }
    .icon{
        width:20px;       
    }
    
    .dropdown{
        
        .icomoon{
            float:left;
            margin-right:5px;
        }
        
        .dropdown-menu{
        background:$darkcolor;
        min-width:250px;
        border-radius:0;
        margin-top:23px;
        padding-top:0;
        padding-bottom:0;

       
            .dropdown-item{
                color:$secondarycolor;
                padding:10px 15px!important;
                border-bottom:1px dashed #888;
                text-transform: uppercase;

                &:hover{
                    background:$themecolor;
                }
            }
        }        
        .icon{
            float:left;
            margin:2px 10px 0 0;
        }
    }
    .search{
        width:1170px;
        height:60px;
        background:$darkcolor;
        margin:-60px auto 0  -585px;
        text-align: center;
        position: absolute;
        border-bottom:1px solid #ccc;
        z-index: 999;
        padding-left:20px;
        left:50%;
        top:0;
        @include transition;
        

        .closeicon{
            width:15px;
            float: right;
            margin:20px 25px 0 0;
        }
        .icomoon{
            font-size: 18px;
            color: #fff;
            margin-top: 20px;
            float: right;
            padding-right:10px;
        }
        

        input[type="text"]{
            width:85%;
            background:none;
            border:none;
            border-radius:0;
            height:50px;
            float:left;           
            color:$secondarycolor;           
            opacity: 1;
            @include transition;
            
            &:focus{               
                outline:none;
            }
        }        
    }
    .searchfull{
        margin-top:0;
        @include transition;
       
        input[type="text"]{
            opacity: 1;
            width:90%;
        }
    }
    
}
//header styles ends

//carousel starts
.homecarouse{
    height:100vh;

    .carousel-indicators{
        display: none;
    }
    .carousel-inner{
        height:100vh;

        .carousel-item{
           height: 100vh;
            min-height: 300px;
            background: no-repeat center center scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;           

            .carousel-caption{
                background-image:linear-gradient(transparent, black 50%);
                left:0;
                bottom:0;
                right:0;
                text-align: left;

                .captionin{
                    width:75%;
                    margin:0 auto;

                    h2{
                        a{
                            color:$secondarycolor;
                        }
                    }

                    h5{ 
                        @include subtitle;
                        
                        
                    }
                    .slidertitle{
                       a{
                            @include title;
                            color:$secondarycolor;
                       }
                    }
                }  
            }
        }
    }
    .carousel-control-prev{
        width:50px;
        height:50px;
        background:$themecolor;
        top:45%;
        opacity: 1;

        &:hover{
            background:$secondarycolor;

            .icomoon{
                color:$themecolor;
            }
        }

        img{
            width:25px;
        }
        .icomoon{
            font-size:20px;
            color:$secondarycolor;
        }
    }
    .carousel-control-next{
        width:50px;
        height:50px;
        background:$themecolor;
        top:45%;
        opacity: 1;

        &:hover{
            background:$secondarycolor;

            .icomoon{
                color:$themecolor;
            }
        }

        img{
            width:25px;
        }
        .icomoon{
            font-size:20px;
            color:$secondarycolor;
        }
    }
}
//carousel ends 

//home channels starts
.channels{
    background:lighten($darkcolor, 8);
    .channelcol{
        img{
            width:114px;
            height:114px;
            margin:0 auto;
            border-radius:50%;
        }
        article{

            @include py15;

            h5{
                a{
                    font-size:$fsize +4;
                    @include fbold;
                    color:$secondarycolor;
                }
            }
            p{
                color:$themecolor;
            }
        }
    }  
}
//home channels ends

.sliderhome{

    .item{
        position: relative;  
        padding-right:0;
        padding-left:0;
        
        &:before{
            content:'';
            background:$darkcolor;
            @include position;
            height:100%;
            opacity: 0;
            @include transition;            
        }
       
        &:hover{
            &:before{  
                opacity:0.8;
                height:100%;               
            }
            article{
                opacity:1;
                display: block;
            }
        }
    }

    article{
        @include position;
        text-align: center;
        top:calc(50% - 20px);
        @include transition;
        opacity: 0;
        display: none;

        h4{
            font-size:$fsize + 6;
            color:$themecolor;
            text-transform: uppercase;
            letter-spacing: 3px;
            padding-bottom:10px;
        }

        h5{
            font-size:$fsize - 1; 
            a{
                color:$secondarycolor;
                font-size:$fsize - 1!important; 
                             
                &:hover{
                    text-decoration: underline;
                    color:$themecolor;
                }
            }
        }
    }

}

.videoslist{
    .item{
        position: relative;  
        padding-right:0;
        padding-left:0;
    }
    .item{
        article{
            background:lighten($darkcolor, 10);
            padding:10px;
            margin-top:-5px;
            text-align: left;
            a{
                color:$secondarycolor;                
                font-size:$fsize - 1!important;

                &:hover{
                    color:$themecolor;
                }
            }
        }
    }
}
.diaries{
    .item{
        article{
            h5{
                a{
                    font-size:$fsize + 3!important;
                }
            }
        }
    }
}
.resCarousel{
    figure{
        img{
           &:hover{
            filter: grayscale(100);
           }
        }
    }
}
.memes{
    .sliderhome{
        figure{
            img{
                height:394px;
               @include objectfitcover;
            }
        }
    }
}

//footer  styles starts
footer{
    background:lighten($darkcolor, 8);
    min-height: 100px;   
    color:$secondarycolor;

    .signcol{
       h5{
        @include smalltitle;
        text-transform: uppercase;
       } 
       p{
           font-size:$fsize -1;
           line-height:$fsize +5;
       }
       .form-control{
            background:$secondarycolor;
            border:none;
            width:100%;
            font-size:$fsize - 1;
            height:42px;
            padding:0 10px;
            border-radius:0;

            &::placeholder{
                color:#ccc;
            }
       }
       input[type="submit"]{
           background:$themecolor;
           border-radius:0;
           height:42px;
           color:$secondarycolor!important;
       }
    }
    .nav{
        .nav-item{
            .nav-link{
                color:$secondarycolor;

                &:hover{
                    color:$themecolor;
                }
            }
        }
    }
    .copyrights{
        background:$themecolor;
        padding:10px 0;
        p{
            font-size:$fsize - 1;
        }
    }
}
//footer styles ends 

//sub page styles starts
.subpagemain{
    min-height:600px;
    margin-top:85px;

    //sub page header 
    .subpage-header{
        background:lighten($darkcolor, 8);
        min-height:50px;
        padding:20px 0;

        .pagetitle{
            h1{
                @include subtitle;
                border-left:2px solid $themecolor;
                padding:0 0 5px 10px;


            }
        }
        .brcrumb{
            li{
                a{
                    color:$secondarycolor;

                    &:after{
                        content:'/';
                        padding:0 10px;
                    }
                }

                &:last-child{
                    a{
                        color:$themecolor;
                        &:after{
                            content:'';
                            padding-left:0;
                        }
                    }
                }
            }
        }
    }

    //sub page main 
    .subpagebody{
        @include py15;

        p{
            text-align: justify; 
            padding-bottom:20px;   
            line-height: $fsize * 2;        
        }
        h2{
            @include subtitle;                      
            padding-bottom:20px;
            letter-spacing: -1px;

            span{
                color:$themecolor;
            }
        }
        .highlate{

           background:lighten($darkcolor, 10);
           min-height:50px;
           padding:30px;

            .svghigh{
                width:60px;
            }
            .icomoon{
                font-size:60px;
                color:$secondarycolor;
            }
            h3{
                @include smalltitle;
                text-transform: uppercase;
            }
            p{
                color:$themecolor;
            }
        }
    }
    //list item{
    .listitem{
        margin-bottom:20px;

        .icomoon{
            font-size:15px;
            color:$secondarycolor;
            margin-right:7px;
        }


        &:hover{
            a{
                color:$themecolor;
            }
            .comments-col{
                a{
                    color:$secondarycolor;

                    
                }
            }
        }
        padding:5px;
        border:1px solid lighten($darkcolor, 25);
        figure{
            a{
                img{
                   
                    @include objectfitcover;
                    width:100%;

                    &:hover{
                        filter: grayscale(100%);
                    }
                }
            }
        }
       
        a{
            font-size:$fsize - 1;
            color:$secondarycolor;
            line-height:$fsize - 2;           
        }
    }
    //page nation
    .pagination{
        border-radius:0;
        .page-link{
            background:none;
            color:$secondarycolor;

            &:hover{
                background:$themecolor;
            }
        }
    }
    .videolist{      
        border:none;
        padding:0;
    
        article{
            border-bottom:1px solid $secondarycolor;
            padding-bottom:5px;

        }
        .comments-col{
            padding:10px 0;
            a{
                margin-right:20px;
                float:left;

                &:last-child{
                    float:right;
                }
               
            }
            .svg{
                width:15px;
                float:left;
                margin-right:5px;
            }
        }
    }
    .webserieslist{
        &:hover{
            a{
                color:$secondarycolor;
            }
        }
        padding:0;
        border:none;
        article{
            padding:10px 0;
            .webanchor{
                font-size:$fsize + 6;
                text-transform: uppercase;
                text-align: center;
                display: block;
            }
            .features{
                padding:10px 0;
                font-size:$fsize - 1; 

                a{
                    color:$themecolor;
                }
            }
        }
    }
    .addcol{
       background:lighten($darkcolor, 10); 
       width:100%;
       height:120px;
       padding:20px;

       @include my15;

       p{
           font-size:$fsize - 1;
           text-align: inherit;
           line-height:$fsize + 5;
       }

       .h5{
           @include smalltitle;
           @include flight;
           padding-bottom:6px;
       }
       a{
           color:$themecolor;
           

           &:hover{
               color:$secondarycolor;
           }
       }
    }
    .tablecontact{

        tr{
            td{
                padding:10px;
                vertical-align: middle;

                a{
                    color:$secondarycolor;

                    .icomoon{
                        font-size:20px;
                    }
                }
            }
        }

        figure{
            background:lighten($darkcolor, 10); 
            width:50px;
            height: 50px;
            line-height:60px;
            border-radius:50%;
            text-align: center;
        }

        .svg{
            width:25px; 
        }
    }
    form{
        label{
            font-size:$fsize - 1;
            padding-bottom:5px;
        }
        .form-control{
            background:lighten($darkcolor, 10);
            height:48px;
            border:none;
            border-radius:0;
            color:#888;
            font-size:$fsize - 1;

            &:focus{
                outline:none;
                border:none;
                box-shadow: none;
            }
        }
        .btn{
            background:$themecolor;
            border-radius:0;
            color:$secondarycolor;
            @include px15;
        }
    }
    .themecolor{
        color:$themecolor;

        &:hover{
            color:$secondarycolor;
        }
    }
    .articledetail{
        .dtnote{
            span{
                &:after{
                    content:'|';
                    color:$themecolor;
                    padding:0 15px;
                } 
                
                &:last-child{
                    &:after{
                        padding:0;
                        content:" ";
                    }
                }
            }
        }
        .detailsocial{
            .nav-item{
                margin-left:5px;
            }
        }
    }   
}

//sub page styles ends 
.seriesrow{
    border-bottom:1px solid lighten($darkcolor, 30);
    .seriesfig{       
        position:relative;   
        
        .time{
            background:$darkcolor;
            padding:5px;
            color:$secondarycolor;
            bottom:0;
            right:0;
            font-size:$fsize - 2;
        }
    }
    .descseries{
        h5{
            @include smalltitle;
            @include fbold;

            a{
                color:$secondarycolor;
            }
        }
        p{
            text-align:justify;
            padding-top:10px;
        }
    } 
    .comtable{
        td{
            padding:5px;
            vertical-align: top;
        }
        .svg{
            width:22px;
        }
    }   
}

.serieslist{
    .svg{
        width:85px;
        position: absolute;
        top:50%;
        left:50%;
        margin-left:-30px;
        margin-top:-30px;        
    }
}

.pagecolumn{

    &:hover{
        article{
            opacity:1;
        }
    }
    figure{
        img{
            min-height:360px;
        }
    }
    position:relative;
    article{
        background:lighten($darkcolor, 10);
        padding:10px;
        margin-top:-5px;
        text-align: center;
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;  
        opacity:0;

        @include transition;

        .articlein{
            padding-top:30%;
        }
        
        ul{
            li{
                display: inline;
            }
        }

        a{           
            color:$secondarycolor;                
            font-size:$fsize - 1!important;
    
            &:hover{
                color:$themecolor;
            }
        }
        .link{
            border:1px solid #333;
            margin-bottom:20px;
            padding:10px 25px;           
        } 
    }
}


.videodialog{
    max-width:600px;

    img{
        width:100%!important;
    }


    .embed-responsive-item{  
       
        body{
            text-align: center;

            img{
                width:100%;
            }
        }
    }
}
